#page_titulo{
    width: 100%;
    color: rgb(87, 65, 65);
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow: 0 0 5px black;
}

#page_titulo:hover{
    box-shadow: 0 0 10px black;
}