#page_card{
    width: 95%;
    border: 2px rgb(3, 2, 2) solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    margin: 10px auto;
    box-shadow: 0 0 10px;
}

#page_card:hover{
    box-shadow: 0 0 30px rgb(90, 73, 73);
}

